h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.times {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-size: 40px;
}

a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: red;
}

table {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.brasileirao {
    border: 3px solid black;
}

div {
    width: 600px;
    border: 5px solid black;
    margin: 5;
    padding: 10;

}